/****************************
 Header */

body > header.container {
  margin-top: 2em;
}

body > header nav {
  padding: 1em 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

body > header nav a {
  text-transform: uppercase;
  margin-right: 2em;
  text-decoration: none;
}

body > header nav a:hover {
  text-decoration: underline;
}

/****************************
 Body */

section {
  margin: 2em 0;
}

h2 {
  font-size: 1.8em;
}

.button[disabled],
.button[disabled]:hover {
  background: #ccc;
  border: none;
}

/****************************
 Preview */

.font-preview {
  height: 400px;
  width: 100%;
  display: block;
}

/****************************
 Spinner */

.overlay-spinner {
  position: fixed;
  background: rgba(0, 0, 0, 0.78);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center center;
  z-index: 1000;

  transition: opacity 0.2s ease;
  pointer-events: none;
  opacity: 0.0;
}

.overlay-spinner.active {
  pointer-events: all;
  opacity: 1.0;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/****************************
 Footer */

body > footer.container {
  margin: 2em auto;
  padding: 1em 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
